# See <https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners>
# or <https://docs.gitlab.com/ee/user/project/code_owners.html>.

* @Tamschi
