name: Deny Warnings

permissions:
  contents: read

on:
  pull_request:
    branches: [develop]
  push:
    branches: [develop]

jobs:
  deny-warnings:
    name: Deny Warnings
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions-rs/toolchain@v1.0.7
      with:
        toolchain: stable
        profile: minimal
        components: clippy
    - run: cat CI.toml >> Cargo.toml
    - run: cargo clippy --workspace --locked --all-targets --no-default-features -- -D warnings
    - run: cargo clippy --workspace --locked --all-targets -- -D warnings
    - run: cargo clippy --workspace --locked --all-targets --all-features -- -D warnings
