name: PR Checks

permissions:
  contents: read

on:
  pull_request:

jobs:
  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions-rs/toolchain@v1.0.7
      with:
        toolchain: nightly
        profile: minimal
        components: clippy
    - run: cat CI.toml >> Cargo.toml
    - run: cargo +nightly clippy --workspace --locked --no-default-features
    - run: cargo +nightly clippy --workspace --locked
    - run: cargo +nightly clippy --workspace --locked --all-features

  fmt:
    name: Formatting
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions-rs/toolchain@v1.0.7
      with:
        toolchain: nightly
        profile: minimal
        components: rustfmt
    - run: cat CI.toml >> Cargo.toml
    - run: cargo +nightly fmt --all -- --check
